p{
    font-size: 50px;
    font-weight: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.hi{
    text-transform: capitalize;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color:blue ;
    text-decoration-style:dashed ;
    text-align: center;
}

/*Google Fonts we can import the Font style in two want by import and  By Link*/
/*in text we can use Word breaks To break the Words */

/* Color and Background color are having Same Properties with Different Meaning*/

/*in Color and Background Color can Be Represented in
 1) RGBA(255 , 255 , 255 , Alpha) The Alpha resprsent the Opaciy*
 2) RGB(255,255,355)
 3)HEX Code
 4) HSL (h->hue , S->Saturation , L-> Lightness)  in Most the Web Development We use Color keywords and Hex Code*/